.baseboard {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 200px;
  z-index: 2;
}

.baseboard-image {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
}