.baseboard {
  position: absolute;

  width: clamp(280px, 45%, 520px);
  aspect-ratio: 3 / 1;

  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);

  image-rendering: pixelated;
}


.baseboard-image {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
}

.key {
  position: absolute;
  image-rendering: pixelated;
}