body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tiles {
  width: 100vw;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #000;
  background: rgb(7, 26, 26);
}
.filler {
  flex: 1;
  background: #222;
  border: 1px solid #000;
}

/* .red { background: #e63946; }
.blue { background: #457b9d; }
.green { background: #2a9d8f; }
.orange { background: #f4a261; }
.purple { background: #9b5de5; } */

.bottom {
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}