body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tiles {
  width: 100vw;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.tile-frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.tile-content {
  position: absolute;
  inset: 0;
  padding: 12px;
  z-index: 1;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgb(7, 26, 26);
}
.filler {
  flex: 1;
  background: rgb(7, 26, 26);
}

.bottom {
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}