@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");


html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(7, 26, 26);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --retro-font: "VT323", monospace;
}